@import 'javascript/anatomy/style/constants';
@import 'javascript/anatomy/inputs/shared/anatomy_constants';
@import './button_constants';

.buttonBase {
  appearance: none !important;
  border: $button-border-size solid transparent;
  border-radius: $standard-border-radius;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: $font-source-sans-pro;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  font-weight: $font-weight-bold;
  line-height: 1;
  margin: 0;
  text-align: center;
  text-decoration: none;
  transition: background $transition-quick ease-out;
  user-select: none;
  vertical-align: middle;

  &.buttonBase_disabled {
    cursor: not-allowed;
  }

  &:active {
    transition: none;
  }

  &.hideFocusRing {
    outline: none;
  }
}

.button_xsmall {
  font-size: 12px;
  height: $button-height-xsmall;
  line-height: $button-height-xsmall - $button-border-size;
  min-width: $button-height-xsmall;
  padding: 0 16px;
}

.button_small {
  height: $button-height-small;
  line-height: $button-height-small - $button-border-size;
  min-width: $button-height-small;
  padding: 0 24px;
}

.button_medium {
  height: $button-height-medium;
  line-height: $button-height-medium - $button-border-size;
  min-width: $button-height-medium;
  padding: 0 24px;
}

.button_large {
  height: $button-height-large;
  line-height: $button-height-large - $button-border-size;
  min-width: $button-height-large;
  padding: 0 24px;
}

.button_xlarge {
  font-size: 16px;
  height: $button-height-xlarge;
  line-height: $button-height-xlarge - $button-border-size;
  min-width: $button-height-xlarge;
  padding: 0 24px;
}

.iconButton {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  padding: 0;
}

.button_primary {
  background: #005EAA;
  color: $color-white;

  &:hover,
  &.buttonBase__hovered {
    background: #0A314E;
    text-decoration: underline;
  }

  &:active,
  &.buttonBase__pressed {
    background: #0A314E;
    text-decoration: underline;
  }

  &.buttonBase_disabled {
    background: #0A314E;
    text-decoration: underline;
  }
}

.button_neutral {
  background: $color-white;
  border-color: $color-border-gray-dark;
  color: $color-blue-black;
  font-weight: $font-weight-semi-bold;

  &:hover,
  &.buttonBase__hovered {
    background: $color-gray-background-cool;
    border-color: $color-text-light;
  }

  &:active,
  &.buttonBase__pressed {
    background: $color-border-gray;
    border-color: $color-text;
  }

  &.buttonBase_disabled {
    background: $color-border-gray;
    border-color: $color-border-gray-dark;
    color: $color-text-light;
  }
}

.button_destructive {
  background: $color-red;
  color: $color-white;

  &:hover,
  &.buttonBase__hovered {
    background: scale-color($color-red, $lightness: 30%, $saturation: -10%);
  }

  &:active,
  &.buttonBase__pressed {
    background: scale-color($color-red, $lightness: -15%, $saturation: -30%);
  }

  &.buttonBase_disabled {
    background: scale-color($color-red, $lightness: 60%, $saturation: -30%);
  }
}

.button_knocked-out {
  background: transparent;
  border-color: $color-white;
  color: $color-white;

  &:hover,
  &.buttonBase__hovered {
    background: rgba($color-white, 0.2);
  }

  &:active,
  &.buttonBase__pressed {
    background: rgba($color-white, 0.1);
  }

  &.buttonBase_disabled {
    $disabled-white: rgba($color-white, 0.6);
    background: transparent;
    border-color: $disabled-white;
    color: $disabled-white;
  }
}

.leftChild {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.rightChild {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.middleChild {
  border-radius: 0;
}

.leftChild,
.middleChild,
.rightChild {
  flex-shrink: 0;
  transition: z-index $transition-normal $anatomy-field-easing-curve;

  &:focus {
    position: relative;
    z-index: $base-z + 1;
  }
}

.topChild {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.bottomChild {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
