.container {
  display: flex;
  flex-direction: column;
  padding: 24px 24px 16px;
}

.location {
  margin-top: 16px;
}

.resultCountContainer {
  margin-top: 16px;
}

.resultCount {
  color: #4D5D73;
}
